<!DOCTYPE html>
<html lang="en">
  {% extends 'base.html'%}
  {% load static %}

  {% block title %}
  Autorizatoins
  {% endblock title %}

  {% block content %}
<body>

<p>'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.'</p>

<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Реально забули пароль? </h4>
							<p>Введіть свою електронну адресу праворуч, і ми надішлемо електронною поштою інструкції щодо встановлення нового пароля.</p>
							<a class="button button-account" href="{% url 'register' %}">Край біда створити новий акаунт</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Не переживайте, відновимо</h3>
						<form method="post" class="row login_form" action="{% url 'password_reset' %}" id="contactForm" >
							{% csrf_token %}
							<div class="col-md-12 form-group">
								{% if form.email.errors %}
							<p>Спробуйте ще раз, більш уважно<hr></p>
							{% endif %}
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="id_email" name="email" placeholder="Введіть ваш email" onfocus="this.placeholder = 'не забудьте про собачку'" onblur="this.placeholder = 'email'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="Reset my password" class="button button-login w-100">Готово</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
{% endblock content %}